{% extends 'basic/base.html' %}


{% block content %}

<style>
    .container {
    padding: 2px 16px;
    width: 30%;
    border-radius: 5px;
    background-color: black;
    margin-left: 5%;
  }
  .row{

    height: auto;
    text-align: center;
  }
</style>

{% if user.is_authenticated %}

<div class="p-10 lg:p-20 text-center">
  <h1 class="text-3xl lg:text-6xl text-white">Rooms</h1>
</div>
  {% for room in rooms %}

<div class="row" col-md-3>
  <div class="container">
    <h2 class="mb-5 text-2xl font-semibold">{{room.topic}}</h2>
    <a href="/room/{{room.id}}" class="btn btn-primary">Join</a>
  </div>

  {% endfor %}

  


</div>


<!-- <div class="w-full flex flex-wrap items-center">


      <div class="w-full lg:w-1/4 px-3 py-3">
        <div class="p-4 bg-dark shadow rounded-xl text-center">
          <h2 class="mb-5 text-2xl font-semibold">{{room.topic}}</h2>
          <a href="/room/{{room.id}}" class="btn btn-primary">Join</a>
        </div>
      </div>



</div> -->




{% endif %}


{% endblock content %}
