{% extends 'basic/base.html' %}


{% block content %}

<div >

  
    <div class="row  text-center">
        <div class="col">


          <div class="container">
            <div class="sidenav">
              <h4>All</h4>
              <div >
                {% for room in rooms %}
  
                <h4>{{room.topic}}</h4>
    
                {% endfor %}
              </div>
          
            </div>


            
          </div>
          

          

        </div>
        <br> <br><br> <br>
        <div class="col-6">
          <div class="room">
            <a href="{% url 'create-room' %}" class="btn btn-primary">Create a Room</a><br>
            <br><br>

            <div class="card text-white " style="width: auto;background-color: #3e4754;">
               
              {% for room in rooms %}
              

              
            <div class="card text-center">
              <div class="card-header  bg-dark " style="color: rgb(255, 255, 255);">

                <h5 class="card-title">{{room.topic.name}},&nbsp;
                 <a href="{% url 'account' room.host.id %}"> @{{room.host.username}}</a></h5>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{room.name}}</h5>
                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>  -->
                <a href="/room/{{room.id}}" class="btn btn-primary">JOIN</a>
              </div>
              {% if request.user == room.host %}
              <div class="card-footer" style="background-color: #3e4754;" >
                <span><a  href="{% url 'update-room' room.id %}">Edit</a></span>
                <span><a href="{% url 'delete-room' room.id %}">Delete</a></span>
              </div>
  
              {% endif %}
            </div>


              {% endfor  %}
            </div>  

            


            
            

          </div>

          <br> <br>
        </div>
        


        <div class="col">
          <h4>Recent Activity</h4>
        </div>
    </div>
</div>
  
{% endblock content %}
