{% extends 'basic/home.html' %}

 {% block content%}

 <h1>{{room.topic}}</h1>

<p>{{room.description}}</p>

<div class="comment-wrapper">
    <h3> <ul></ul>conversation</h3>
    <hr>

    

    {% for message in messages %} 


    <div class="lg:w-2/4 mx-4 lg:mx-auto bg-dark p-4 rounded-xl">

        <p class="font-semibold" style="color: rgb(255, 255, 255);font-family: sans-serif;">{{message.user}},{{message.created}}  </p>
        <p style="color: chartreuse;">{{message}}</p>

    </div>

    {% endfor %}
    <br>
    <div class="container">
        <div class="row">
            <!-- <div class="col-25">
                <label for="Message">Message</label>
            </div> -->
            <div class="col-75">
                <input type="text" name="" id="" placeholder="Type Here..">
                <br><br><input type="button" class="btn btn-primary" value="Send">
            </div>
        </div>
    </div>


</div>




{% endblock %}