{% extends 'basic/home.html' %}

 {% block content%}

 <h1>{{room.topic}}</h1>

<p>{{room.description}}</p>

<div class="comment-wrapper">
    <h3> <ul></ul>conversation</h3>
    <hr>

    

    {% for message in room_messages %} 


    <div class="lg:w-2/4 mx-4 lg:mx-auto bg-dark p-4 rounded-xl">

        <p class="font-semibold" style="color: rgb(255, 255, 255);font-family: sans-serif;"><small>{{message.user}}</small>&nbsp;&nbsp;{{message.created|timesince}}&nbsp;ago </p>
        <p style="color: chartreuse;">{{message}}</p>

    </div>

    {% endfor %}
    <br>
    <div class="container">
        <div class="row">
            <div class="message-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="body" id="" placeholder="Type Yor Message Here...">

                </form>
            </div>

        </div>
    </div>


</div>




{% endblock %}